<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, sapiente repudiandae? Laudantium, praesentium ad dignissimos odio eius quaerat natus dolores ipsam quia minus tempora voluptates dolore quidem at deserunt corporis.</p>
    </div>
</div>