body{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.logo{
    width: 45%;
}

.logoAbout{
  width: 25%;
}


.containerEdit{
  margin-top: 15px;
  background-color: whitesmoke;
  width: 100%;
  height: 250px;
  border-radius: 9px;
}

.containerView{
  margin-top: 15px;
  background-color: whitesmoke;
  width: 100%;
  height: 380px;
  border-radius: 9px;
}

.containerInfo{
  margin-top: 15px;
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  border-radius: 9px;
}


h4.texto{
  color: #fc4a1a;
  font-weight: normal;
  font-size: 22px;
}


.containerMane{
    margin-left: 315px;
    margin-right: 65px;
    
    
}



.card-body-mane{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px;

}

.cont{
  width: 96%;
  height: 70px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  
}

.cont input{
  display: inline-block;
}
.cont p{
  display: inline-block;
}

#editor{
  height: 140px;
  border: 0px;
}
#viewDoc{
  height: 310px;
  border: 0px;
}

.nav-link:hover {
    transition: all 0.4s;
  }
  
  .nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
  }
  
  .nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
  }
  
  .nav-item ul.nav-second-level {
    padding-left: 0;
  }
  
  .nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
  }
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
  }
  
  
  @media (min-width: 992px) {
    .sidenav {
      position: absolute;
      top: 0;
      left: 0;
      width: 230px;
      height: calc(100vh - 3.5rem);
      margin-top: 3.5rem;
      background: #343a40;
      box-sizing: border-box;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
  
    .navbar-expand-lg .sidenav {
      flex-direction: column;
    }
   }
  
  @media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
   