<div class="row">
    <div class="containerEdit">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Editor</small></h1>
        </div>
        <div class="card-body-mane">
            <div id="editor">
                {{docs1.docHtml}}
            </div>
        </div>
    </div>


    <div class="containerView">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Vista</small></h1>
        </div>
        <div class="card-body-mane">
            <div id="viewDoc"></div>
        </div>
    </div>


    <div class="containerInfo">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Datos del Documento</small></h1>
        </div>
        <div class="card-body-mane text-center mt-2">


            <button type="button" class="btn btn-success mr-2">Subir Documento</button>
            <button type="button" class="btn btn-success mr-2" onclick="guardarDoc()">Guardar</button>
            <button type="button" class="btn btn-danger mr-2">Eliminar</button>

            <div class="cont">
                <p style="width: 300px;">Titulo: {{docs1.titulo}}</p>
                <p style="width: 300px;">Autor: </p>
                <p style="width: 300px;"> Fecha de creación:{{docs1.dateCreation}}</p>
                <p style="width: 300px;"> Ultima modificación :{{docs1.dateCreation}} </p>
            </div>

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        

    });


    var options = {
        theme: 'snow'
    };

    var optionsViewer = {
        "theme": "snow",
        "modules": {
            "toolbar": false
        },
        "readOnly": true
    };


    var quill = new Quill('#editor', options);

    var quillview = new Quill('#viewDoc', optionsViewer)
    let htmlInfo = ''

    swal({
        text: 'La primera linea de tu Documento será su Título',
        icon: 'info',
    })


    quill.on('text-change', function (delta, oldDelta, source) {

        htmlInfo = quill.root.innerHTML
        quillview.root.innerHTML = htmlInfo;
    });


    function guardarDoc() {


        var delta = quill.getContents(0);
        var titulo = delta.ops[0].insert

        titulo1 = titulo.split('\n')
        console.log(titulo1[0])


        if (htmlInfo == '') {
            swal({
                text: 'Documento en Blanco',
                icon: 'error',
            })
        } else {
            $.ajax({
                type: 'POST',
                url: '/docs/new',
                data: {
                    htmlDoc: htmlInfo,
                    titulo: titulo1[0]

                }
            }).then(function (data) {
                console.log('success')



                if (data.status === "Success") {

                    swal({

                        text: 'Documento Creado',
                        icon: 'success',
                        timer: 1000,
                        buttons: false,
                    }).then(() => {
                        window.location = data.redirect;
                    })



                }

            })
        }




    }



</script>