<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <img src="/img/icon.png" alt="Logo" class="logo rounded-circle mx-auto d-block  m-4">
            <div class="card-body">
                <h1>notas</h1>
            </div>
        </div>
    </div>
</div> 