<!-- 












-->




<div class="row">
    <div class="containerEdit">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Editor</small></h1>
        </div>
        <div class="card-body-mane">


            <div id="editor">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
            </div>




        </div>
    </div>


    <div class="containerView">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Vista</small></h1>
        </div>
        <div class="card-body-mane">


            




        </div>


    </div>


    <div class="containerInfo">
        <div class="card-header text-center">
            <h3> <small class="text-muted">Datos del Documento</small></h1>
        </div>
        <div class="card-body-mane">


            




        </div>



    </div>





</div>


<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script> 