<div class="row">
    <div class="col-md-3 mx-auto">
        <div class="card mt-5 text-center">
            <div class="card-header">
                <h1> <small class="text-muted">Información de la App</small></h1>
            </div>
            <img src="/img/icon.png" alt="Logo" class="logoAbout rounded-circle mx-auto d-block  m-4">
            <div class="card-body">
                
                <h4 class="texto"> Programado por: <small class="text-muted" style="font-size: 20px;">Emmanuel Salinas Celestino</small></h4>
                
            </div>
        </div>
    </div>
</div>